<flow-definition plugin="workflow-job">
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
    <script>pipeline {{
    agent {{
        label 'build_service'
    }}
    stages {{
        stage('Trigger Builds') {{
            parallel {{
                stage('Linux x86 64') {{
                    when {{
                        expression {{ params.BUILD_LINUX_X86_64 == true }}
                    }}
                    steps {{
                        script {{
                            def job_linux_x86_64 = build job: 'build-jmc-linux_x86_64', propagate: false, wait: true, parameters:
                            [
                                string(name: 'JMC_GIT_REPOSITORY', value: params.JMC_GIT_REPOSITORY),
                                string(name: 'GIT_REF', value: params.GIT_REF),
                                string(name: 'BUILD_JDK', value: params.BUILD_JDK),
                                [$class: 'BooleanParameterValue', name: 'TEST', value: params.TEST]
                            ]
                        }}
                    }}
                }}
                stage('macOS aarch 64') {{
                    when {{
                        expression {{ params.BUILD_MACOS_ARM_64 == true }}
                    }}
                    steps {{
                        script {{
                            def job_macos_aarch64 = build job: 'build-{major}-{build_type}-macos_aarch64', propagate: false, wait: true, parameters:
                            [
                                string(name: 'JMC_GIT_REPOSITORY', value: params.JMC_GIT_REPOSITORY),
                                string(name: 'GIT_REF', value: params.GIT_REF),
                                string(name: 'BUILD_JDK', value: params.BUILD_JDK),
                                [$class: 'BooleanParameterValue', name: 'TEST', value: params.TEST]
                            ]
                        }}
                    }}
                }}
                stage('macOS x86 64') {{
                    when {{
                        expression {{ params.BUILD_MACOS_X86_64 == true }}
                    }}
                    steps {{
                        script {{
                            def job_macos_x86_64 = build job: 'build-{major}-{build_type}-macos_x86_64', propagate: false, wait: true, parameters:
                            [
                                string(name: 'JMC_GIT_REPOSITORY', value: params.JMC_GIT_REPOSITORY),
                                string(name: 'GIT_REF', value: params.GIT_REF),
                                string(name: 'BUILD_JDK', value: params.BUILD_JDK),
                                [$class: 'BooleanParameterValue', name: 'TEST', value: params.TEST]
                            ]
                        }}
                    }}
                }}
                stage('Windows x86 64') {{
                    when {{
                        expression {{ params.BUILD_WINDOWS_X86_64 == true }}
                    }}
                    steps {{
                        script {{
                            def job_windows_x86_64 = build job: 'build-{major}-{build_type}-windows_x86_64', propagate: false, wait: true, parameters:
                            [
                                string(name: 'JMC_GIT_REPOSITORY', value: params.JMC_GIT_REPOSITORY),
                                string(name: 'GIT_REF', value: params.GIT_REF),
                                string(name: 'BUILD_JDK', value: params.BUILD_JDK),
                                [$class: 'BooleanParameterValue', name: 'TEST', value: params.TEST]
                            ]
                        }}
                    }}
                }}
            }}
        }}
    }}
}}
</script>
    <sandbox>true</sandbox>
  </definition>
  <actions />
  <description>Start JMC build on all platorms.&lt;!-- Managed by Jenkins Job Builder --&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>14</daysToKeep>
        <numToKeep>-1</numToKeep>
        <artifactDaysToKeep>7</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>JMC_GIT_REPOSITORY</name>
          <description>The Git repository to use.</description>
          <defaultValue>https://github.com/SAP/jmc</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GIT_REF</name>
          <description>The Git tag, branch or commit to build.</description>
          <defaultValue>sap</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_LINUX_X86_64</name>
          <description />
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_WINDOWS_X86_64</name>
          <description />
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_MACOS_X86_64</name>
          <description />
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>BUILD_MACOS_ARM_64</name>
          <description />
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BUILD_JDK</name>
          <description>The JDK used to build the JMC</description>
          <defaultValue>11</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>TEST</name>
          <description>Run tests.</description>
          <defaultValue>{test_default}</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
</flow-definition>